@use "./node_modules/normalize.css/normalize.css";
@use "global";
@use "palette.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: palette.$white;
  background: palette.$blackish;
}

img {
  display: block;
  max-width: 100%;
}
